
body {
	font-size: 16px;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 26px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 16px;
}

img {
	max-width: 100%;
	height: auto;
	border: #E8E8E8 1px solid;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.12);
}

.br-top {
	border: 0;
	border-top: solid 3px #0C84E4;
}

.block-top {
	background: #F4F4F4;
}

.box-breadcrumb {
	background: #F4F4F4;
}

.box-breadcrumb .breadcrumb  {
	padding: 0;
	padding-bottom: 10px;
	margin: 0 -15px;
}

.logo {
	font-size: 42px;
	font-family: Arial, Helvetica, sans-serif;
	color: #999;
}

.top-h {
	padding: 20px 0;
}

.block-section {
	padding: 20px;
	background: #0C84E4;
	text-align: center;
}

.block-section > div {
	font-family: 'supermarket', Arial, Helvetica, sans-serif;
	font-size: 36px;
	color: #FFF;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.18);
	margin: 0;
}

.article-detail {
	font-size: 12px;
	color:#666;
	margin-top: -15px;
	margin-bottom: 5px;
}

footer {
	margin-bottom: 23px;
}

@font-face {
	font-family: 'supermarket';
	src: url('../fonts/supermarket.eot?#iefix') format('embedded-opentype'),  
		  url('../fonts/supermarket.woff') format('woff'), 
		  url('../fonts/supermarket.ttf')  format('truetype'), 
		  url('../fonts/supermarket.svg#supermarket') format('svg');
	font-weight: normal;
	font-style: normal;
}

